body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.image-container {
    position: relative;
    margin-bottom: 20px;
    max-width: 100%;
}

#daily-image {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#photographer-info {
    font-size: 1.1em;
    color: #555;
}

#like-button {
    font-size: 1.1em;
}

#history {
    margin-top: 40px;
}

#history-list {
    max-height: 300px;
    overflow-y: auto;
}

#history-list img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}
